In [10]:
# Load dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [11]:
monthly_pA = pd.read_csv('Resources/monthly_pA.csv',index_col=False)
monthly_pB = pd.read_csv('Resources/monthly_pB.csv',index_col=False)
monthly_pD = pd.read_csv('Resources/monthly_pD.csv',index_col=False)
chemicals = pd.read_csv('Resources/chemicals.csv',index_col=False)
chemicals.head()

,year_month,cA,cB,cCD,production,cA_per_prod,cB_per_prod,cCD_per_prod
0,200901,50533.0,17100,22500.0,630494,0.080148,0.027122,0.035686
1,200902,37659.0,25650,22500.0,412244,0.091351,0.062220,0.054579
2,200903,47330.0,19950,15000.0,464256,0.101948,0.042972,0.032310
3,200904,45100.0,14250,22500.0,483255,0.093325,0.029488,0.046559
4,200905,31538.0,8550,15000.0,289430,0.108966,0.029541,0.051826

In [12]:
# Merge respective chemical usage and production for each process output
monthly_pA = monthly_pA.merge(chemicals,on='year_month').drop(columns=['cB','cCD','cB_per_prod','cCD_per_prod'])
monthly_pB = monthly_pB.merge(chemicals,on='year_month').drop(columns=['cA','cCD','cA_per_prod','cCD_per_prod'])
monthly_pD = monthly_pD.merge(chemicals,on='year_month').drop(columns=['cA','cB','cA_per_prod','cB_per_prod'])

In [ ]:
# Plot chemical usage per production vs pA,pB,pD - if there is a good correlation, predicted values can
# be used and the source features do not need to be used in two sets of models