In [1]:
# Load dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
from sqlalchemy import create_engine
engine = create_engine("sqlite:///master_db.sqlite",echo=False)

In [2]:
exhist = pd.read_sql_query('select * from exhist',con=engine)
exhist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689982 entries, 0 to 689981
Data columns (total 13 columns):
extract_point            689982 non-null object
extraction_tons          689982 non-null int64
datestring               689982 non-null int64
total_extraction_tons    689982 non-null int64
reserves                 689982 non-null float64
region                   689982 non-null object
avg_sA                   689982 non-null float64
exhaustion               689982 non-null float64
zone                     689982 non-null object
sector                   689982 non-null object
daily_total_extracted    689982 non-null int64
ep_daily_pct             689982 non-null float64
ep_datestring            689982 non-null object
dtypes: float64(4), int64(4), object(5)
memory usage: 68.4+ MB

In [3]:
date_month = []
date_year = []
datestrings = exhist.datestring.astype(str)
for i in range(len(datestrings)):
    date_month.append(datestrings[i][4:6])
    date_year.append(datestrings[i][:4])
exhist['month'] = date_month
exhist['year'] = date_year
exhist['year_month'] = exhist['year']+exhist['month']
exhist.head()

,extract_point,extraction_tons,datestring,total_extraction_tons,reserves,region,avg_sA,exhaustion,zone,sector,daily_total_extracted,ep_daily_pct,ep_datestring,month,year,year_month
0,611703,405,20151231,405,76860.0,7700SW,0.202857,0.526932,611,703,34288,1.181171,61170320151231,12,2015,201512
1,611703,424,20160105,829,76860.0,7700SW,0.202857,1.078584,611,703,28457,1.489967,61170320160105,01,2016,201601
2,611703,463,20160128,1292,76860.0,7700SW,0.202857,1.680978,611,703,22431,2.064108,61170320160128,01,2016,201601
3,611703,81,20160223,1373,76860.0,7700SW,0.202857,1.786365,611,703,20923,0.387134,61170320160223,02,2016,201602
4,611703,54,20160224,1427,76860.0,7700SW,0.202857,1.856622,611,703,20941,0.257867,61170320160224,02,2016,201602

In [4]:
ep_region = []
for i in range(len(exhist)):
    if exhist['region'][i] == '7210A':
        ep_region.append('rU')
    elif exhist['region'][i] == '7210M':
        ep_region.append('rV')
    elif exhist['region'][i] == '7210N':
        ep_region.append('rW')
    elif exhist['region'][i] == '7700NW':
        ep_region.append('rY')
    elif exhist['region'][i] == '7700SW':
        ep_region.append('rZ')
    else:
        ep_region.append('rX')
len(ep_region)

689982

In [5]:
histdf = exhist.copy()
histdf['region'] = ep_region
histdf.head()

,extract_point,extraction_tons,datestring,total_extraction_tons,reserves,region,avg_sA,exhaustion,zone,sector,daily_total_extracted,ep_daily_pct,ep_datestring,month,year,year_month
0,611703,405,20151231,405,76860.0,rZ,0.202857,0.526932,611,703,34288,1.181171,61170320151231,12,2015,201512
1,611703,424,20160105,829,76860.0,rZ,0.202857,1.078584,611,703,28457,1.489967,61170320160105,01,2016,201601
2,611703,463,20160128,1292,76860.0,rZ,0.202857,1.680978,611,703,22431,2.064108,61170320160128,01,2016,201601
3,611703,81,20160223,1373,76860.0,rZ,0.202857,1.786365,611,703,20923,0.387134,61170320160223,02,2016,201602
4,611703,54,20160224,1427,76860.0,rZ,0.202857,1.856622,611,703,20941,0.257867,61170320160224,02,2016,201602

In [6]:
# adding wtd averages for summations in grouping
histdf['average_exhaustion'] = histdf['exhaustion']*histdf['extraction_tons']/histdf['daily_total_extracted']
histdf['ep_sA_reserves'] = histdf['avg_sA']*histdf['reserves']
histdf['region_zone'] = histdf['region']+histdf['zone']

In [7]:
histdf.head()

,extract_point,extraction_tons,datestring,total_extraction_tons,reserves,region,avg_sA,exhaustion,zone,sector,daily_total_extracted,ep_daily_pct,ep_datestring,month,year,year_month,average_exhaustion,ep_sA_reserves,region_zone
0,611703,405,20151231,405,76860.0,rZ,0.202857,0.526932,611,703,34288,1.181171,61170320151231,12,2015,201512,0.006224,15591.600011,rZ611
1,611703,424,20160105,829,76860.0,rZ,0.202857,1.078584,611,703,28457,1.489967,61170320160105,01,2016,201601,0.016071,15591.600011,rZ611
2,611703,463,20160128,1292,76860.0,rZ,0.202857,1.680978,611,703,22431,2.064108,61170320160128,01,2016,201601,0.034697,15591.600011,rZ611
3,611703,81,20160223,1373,76860.0,rZ,0.202857,1.786365,611,703,20923,0.387134,61170320160223,02,2016,201602,0.006916,15591.600011,rZ611
4,611703,54,20160224,1427,76860.0,rZ,0.202857,1.856622,611,703,20941,0.257867,61170320160224,02,2016,201602,0.004788,15591.600011,rZ611

In [8]:
month_days_total = pd.read_csv('Resources/monthly_composite.csv',index_col=False)
month_days = month_days_total[['year_month','run_days']]
month_days.to_csv('Resources/month_days.csv',index=False)

In [9]:
def ep_agg(x):
    column_names = {
        'zone_total_extracted': x['total_extraction_tons'].sum(),
        'zone_reserves': x['reserves'].sum(),
        'zone_percent_extracted_total': x['ep_daily_pct'].sum(),
        'ep_sA_reserves': x['ep_sA_reserves'].sum()
    }
    return pd.Series(column_names,index=['zone_total_extracted','zone_reserves','zone_percent_extracted_total','ep_sA_reserves'])
zone_months = histdf.groupby(['region_zone','year_month']).apply(ep_agg).reset_index(drop=False)
zone_months

,region_zone,year_month,zone_total_extracted,zone_reserves,zone_percent_extracted_total,ep_sA_reserves
0,rUP71,201811,366.0,32922.0,1.067803,4.137198e+03
1,rUP71,201812,1600.0,65844.0,3.243872,8.274396e+03
2,rUP71,201902,9241.0,724570.0,11.740762,8.238298e+04
3,rUP71,201903,5515.0,241582.0,3.506571,2.827668e+04
4,rUP71,201910,12648.0,1163056.0,21.173730,1.478166e+05
5,rUP71,201912,4710.0,329520.0,0.949721,4.320007e+04
6,rUP71,202001,5136.0,329520.0,0.881431,4.320007e+04
7,rUP71,202002,20561.0,1426420.0,18.729422,1.973158e+05
8,rUP71,202003,62960.0,1976106.0,7.047458,2.415473e+05
9,rUP71,202004,72533.0,2469200.0,9.361431,3.192217e+05
10,rUP73,201811,689.0,329610.0,2.155244,4.138794e+04
11,rUP73,201812,1573.0,329600.0,5.218035,4.867093e+04
12,rUP73,201901,7661.0,988710.0,8.865050,1.246541e+05
13,rUP73,201902,13437.0,1428220.0,10.668572,2.029264e+05
14,rUP73,201903,5900.0,439460.0,2.364107,6.320448e+04
15,rUP73,201904,416.0,219580.0,0.951728,3.486930e+04
16,rUP73,201910,13506.0,1538390.0,47.553374,2.426267e+05
17,rUP73,201912,21670.0,1537750.0,4.117281,2.343292e+05
18,rUP73,202001,19737.0,1318050.0,3.525724,2.010338e+05
19,rUP73,202002,24333.0,1648180.0,23.794536,2.557768e+05
20,rUP73,202003,116936.0,6151680.0,12.486800,9.009509e+05
21,rUP73,202004,84288.0,3845210.0,8.067706,5.701688e+05
22,rUP75,201810,1001.0,329230.0,2.531069,4.806820e+04
23,rUP75,201811,665.0,219610.0,1.890375,3.410540e+04
24,rUP75,201812,6669.0,658550.0,11.185143,9.785116e+04
25,rUP75,201901,25246.0,1207500.0,17.695107,1.803810e+05
26,rUP75,201902,6960.0,439210.0,3.391705,6.889004e+04
27,rUP75,201904,10231.0,878060.0,10.355064,1.372185e+05
28,rUP75,201910,15613.0,1207670.0,11.320956,1.882327e+05
29,rUP75,201911,18517.0,1097820.0,31.688170,1.720499e+05
...,...,...,...,...,...,...
2779,rZ631,201610,1275950.0,13848022.0,51.304156,3.227957e+06
2780,rZ631,201611,712656.0,7585590.0,28.394140,1.758604e+06
2781,rZ631,201612,980606.0,10218258.0,28.867174,2.401922e+06
2782,rZ631,201701,990382.0,10684116.0,35.406054,2.485597e+06
2783,rZ631,201702,1255219.0,11414372.0,47.257721,2.664687e+06
2784,rZ631,201703,1250873.0,9119342.0,48.895652,2.191261e+06
2785,rZ631,201704,1274412.0,8582638.0,46.325381,2.075437e+06
2786,rZ631,201705,1459880.0,8895777.0,44.100981,2.176479e+06
2787,rZ631,201706,1805979.0,10488347.0,44.172995,2.512630e+06
2788,rZ631,201707,1111462.0,6168181.0,37.757849,1.465321e+06
2789,rZ631,201708,925409.0,4951069.0,31.581845,1.180937e+06
2790,rZ631,201709,1035586.0,5378637.0,24.911730,1.284940e+06
2791,rZ631,201710,1742819.0,8853978.0,39.102401,2.098928e+06
2792,rZ631,201711,734371.0,3664736.0,15.199391,8.735253e+05
2793,rZ631,201712,837431.0,3789158.0,27.469452,8.951316e+05
2794,rZ631,201801,548249.0,2687305.0,19.785245,6.310153e+05
2795,rZ631,201802,411843.0,4884536.0,33.415190,1.101997e+06
2796,rZ631,201803,717398.0,3364010.0,21.400023,8.029787e+05
2797,rZ631,201804,48269.0,423849.0,3.483601,9.382353e+04
2798,rZ631,201805,334738.0,1917537.0,14.722616,4.593642e+05
2799,rZ631,201806,58459.0,346822.0,1.492537,8.165741e+04
2800,rZ631,201807,321703.0,2451946.0,18.753337,5.558718e+05
2801,rZ631,201808,597750.0,3598008.0,25.785648,8.337669e+05
2802,rZ631,201809,733951.0,3530667.0,19.112148,8.520307e+05
2803,rZ631,201810,263982.0,1769250.0,10.999277,4.158088e+05
2804,rZ631,201811,727390.0,3133469.0,22.765974,7.557535e+05
2805,rZ631,201812,597381.0,2798540.0,20.663975,6.574255e+05
2806,rZ631,201908,202465.0,840723.0,6.361139,1.997353e+05
2807,rZ631,201910,642514.0,2681698.0,13.902188,6.351272e+05
2808,rZ631,201911,316937.0,2867043.0,17.326510,6.515356e+05

In [10]:
zone_months['zone_exhaustion'] = zone_months['zone_total_extracted']/zone_months['zone_reserves']*100
zone_months['zone_avg_sA'] = zone_months['ep_sA_reserves']/zone_months['zone_reserves']
zone_months.head(10)

,region_zone,year_month,zone_total_extracted,zone_reserves,zone_percent_extracted_total,ep_sA_reserves,zone_exhaustion,zone_avg_sA
0,rUP71,201811,366.0,32922.0,1.067803,4137.198011,1.111719,0.125667
1,rUP71,201812,1600.0,65844.0,3.243872,8274.396022,2.429986,0.125667
2,rUP71,201902,9241.0,724570.0,11.740762,82382.978088,1.275377,0.113699
3,rUP71,201903,5515.0,241582.0,3.506571,28276.678022,2.282869,0.117048
4,rUP71,201910,12648.0,1163056.0,21.173730,147816.560022,1.087480,0.127093
5,rUP71,201912,4710.0,329520.0,0.949721,43200.072000,1.429352,0.131100
6,rUP71,202001,5136.0,329520.0,0.881431,43200.072000,1.558631,0.131100
7,rUP71,202002,20561.0,1426420.0,18.729422,197315.846000,1.441441,0.138329
8,rUP71,202003,62960.0,1976106.0,7.047458,241547.266154,3.186064,0.122234
9,rUP71,202004,72533.0,2469200.0,9.361431,319221.682110,2.937510,0.129281

In [11]:
zone_months.to_csv('Resources/zone_months.csv',index=False)

In [12]:
region_months = histdf.groupby(['region','year_month']).apply(ep_agg).reset_index(drop=False)
region_months

,region,year_month,zone_total_extracted,zone_reserves,zone_percent_extracted_total,ep_sA_reserves
0,rU,201810,1001.0,329230.0,2.531069,4.806820e+04
1,rU,201811,1720.0,582142.0,5.113422,7.963054e+04
2,rU,201812,9842.0,1053994.0,19.647050,1.547965e+05
3,rU,201901,32907.0,2196210.0,26.560157,3.050351e+05
4,rU,201902,29638.0,2592000.0,25.801039,3.541994e+05
5,rU,201903,11415.0,681042.0,5.870678,9.148116e+04
6,rU,201904,16298.0,2163117.0,19.469721,3.461295e+05
7,rU,201907,10467.0,1800866.0,26.669246,4.566434e+05
8,rU,201908,18216.0,1888858.0,47.597847,5.785316e+05
9,rU,201909,7703.0,1350839.0,15.755612,3.401231e+05
10,rU,201910,52160.0,4985100.0,103.323587,7.864960e+05
11,rU,201911,46385.0,4150613.0,105.958279,7.214670e+05
12,rU,201912,68761.0,4728707.0,34.035074,8.464016e+05
13,rU,202001,86108.0,5523523.0,39.631225,1.051075e+06
14,rU,202002,143914.0,8180414.0,120.635580,1.469370e+06
15,rU,202003,646193.0,29458899.0,132.765467,5.594907e+06
16,rU,202004,544566.0,21515222.0,49.804579,4.096298e+06
17,rV,200408,769.0,197748.0,3.548169,3.513323e+04
18,rV,200412,446.0,98892.0,1.633939,1.669077e+04
19,rV,200501,16796.0,3799322.0,40.201518,7.611834e+05
20,rV,200502,35952.0,4884755.0,39.828724,9.819473e+05
21,rV,200503,24568.0,3821923.0,25.819210,8.164245e+05
22,rV,200504,169710.0,15106675.0,107.955614,3.012580e+06
23,rV,200505,1119079.0,44174708.0,259.188921,8.895939e+06
24,rV,200506,2168361.0,53924239.0,281.848371,1.141559e+07
25,rV,200507,2951980.0,49865364.0,261.954424,1.080519e+07
26,rV,200508,4458772.0,58620091.0,240.979117,1.220029e+07
27,rV,200509,5802252.0,72563715.0,315.531939,1.680133e+07
28,rV,200510,8071883.0,89219338.0,407.933628,2.142704e+07
29,rV,200511,8052552.0,79616701.0,508.556273,1.995085e+07
...,...,...,...,...,...,...
326,rZ,201711,80179786.0,175029028.0,1527.992069,3.373728e+07
327,rZ,201712,59443404.0,126408537.0,938.319245,2.440198e+07
328,rZ,201801,71883310.0,148202945.0,1176.125028,2.870691e+07
329,rZ,201802,81262328.0,169298290.0,1195.688556,3.218699e+07
330,rZ,201803,90593434.0,178090907.0,1434.150829,3.389778e+07
331,rZ,201804,76039514.0,143896665.0,1230.611856,2.729511e+07
332,rZ,201805,79311814.0,145105666.0,1245.336347,2.791706e+07
333,rZ,201806,94079599.0,167303221.0,1468.862767,3.213430e+07
334,rZ,201807,92283889.0,164556259.0,1254.353933,3.083553e+07
335,rZ,201808,97323114.0,168975572.0,1176.590640,3.205606e+07
336,rZ,201809,84408905.0,143852057.0,879.431604,2.711084e+07
337,rZ,201810,97603733.0,162004615.0,1122.026815,2.985921e+07
338,rZ,201811,107462920.0,172401743.0,1373.451082,3.219069e+07
339,rZ,201812,91633269.0,142758205.0,990.435258,2.738824e+07
340,rZ,201901,121126824.0,181553995.0,1379.532985,3.385583e+07
341,rZ,201902,103747165.0,152007174.0,1175.575848,2.824273e+07
342,rZ,201903,108399868.0,152976431.0,1185.397294,2.894770e+07
343,rZ,201904,121150123.0,166129419.0,1295.333318,3.125515e+07
344,rZ,201905,156252968.0,206617630.0,1741.284537,3.941355e+07
345,rZ,201906,124762480.0,160012135.0,1711.714654,2.978734e+07
346,rZ,201907,167193170.0,209769451.0,1871.145810,3.917917e+07
347,rZ,201908,152216167.0,186298979.0,1701.352847,3.506846e+07
348,rZ,201909,141235526.0,166467903.0,1676.145382,3.153859e+07
349,rZ,201910,160887219.0,189077317.0,1696.355078,3.545703e+07
350,rZ,201911,117612470.0,137289511.0,1348.380746,2.571036e+07
351,rZ,201912,93273988.0,103960300.0,1204.424594,1.973235e+07
352,rZ,202001,115832569.0,129804946.0,1223.837259,2.438881e+07
353,rZ,202002,108829730.0,119323549.0,839.700248,2.242485e+07
354,rZ,202003,123714364.0,133382214.0,1074.969319,2.507873e+07
355,rZ,202004,35553378.0,38491209.0,326.121927,7.272879e+06

In [13]:
region_months['zone_exhaustion'] = region_months['zone_total_extracted']/region_months['zone_reserves']*100
region_months['zone_avg_sA'] = region_months['ep_sA_reserves']/region_months['zone_reserves']
region_months.head(10)

,region,year_month,zone_total_extracted,zone_reserves,zone_percent_extracted_total,ep_sA_reserves,zone_exhaustion,zone_avg_sA
0,rU,201810,1001.0,329230.0,2.531069,48068.200000,0.304043,0.146002
1,rU,201811,1720.0,582142.0,5.113422,79630.537011,0.295461,0.136789
2,rU,201812,9842.0,1053994.0,19.647050,154796.485022,0.933781,0.146867
3,rU,201901,32907.0,2196210.0,26.560157,305035.101000,1.498354,0.138892
4,rU,201902,29638.0,2592000.0,25.801039,354199.399088,1.143441,0.136651
5,rU,201903,11415.0,681042.0,5.870678,91481.157022,1.676108,0.134325
6,rU,201904,16298.0,2163117.0,19.469721,346129.495033,0.753450,0.160014
7,rU,201907,10467.0,1800866.0,26.669246,456643.351989,0.581220,0.253569
8,rU,201908,18216.0,1888858.0,47.597847,578531.630912,0.964392,0.306286
9,rU,201909,7703.0,1350839.0,15.755612,340123.081923,0.570238,0.251787

In [14]:
region_months.to_csv('Resources/region_months.csv',index=False)